# Gradle
.gradle
gradle-app.setting
build

# Compiled class file
*.class

# IntelliJ project files
.idea
*.iml
out
gen

# driver binaries
chromedriver
geckodriver

# no static junit-platform.properties
junit-platform.properties
